
@{
    ViewBag.Title = "Education";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
</style>


    <h2>Education</h2>

    <table>
        <tr>
            <th>Degree</th>
            <th>Year</th>
            <th>Institute</th>
        </tr>
        <tr>
            <td>BSC</td>
            <td>2025</td>
            <td>American International University of Bangladesh</td>
        </tr>
        <tr>
            <td>HSC</td>
            <td>2015</td>
            <td>Major General Mahmudul Hasan College, Tangail</td>
        </tr>
        <tr>
            <td>SSC</td>
            <td>2013</td>
            <td>Bindu Bastini Govt. Boy's High School, Tangail</td>
        </tr>

    </table>

<br />


<a href="/Home/Index">Index</a> &nbsp;
<a href="/Home/Projects">Projects</a> &nbsp;
<a href="/Home/Refference">Refference</a> &nbsp;
<a href="/Home/Personalinfo">Personal Info</a> 