@{
    ViewBag.Title = "Home Page";
}

<h4>Name: Tanvir Hossain Firoz</h4>
<h4>ID: 16-32222-2</h4>
<a href="mailto:tanvirhossainapon@gmail.com">Email: tanvirhossainapon@gmail.com</a> <br>
<a href="https://github.com/TanvirApon">Github Link</a>
<br>


<a href="/Home/Education">Education</a> &nbsp;
<a href="/Home/Projects">Projects</a> &nbsp;
<a href="/Home/Refference">Refference</a> &nbsp;
<a href="/Home/Personalinfo">Personal Info</a> 



