
@{
    ViewBag.Title = "Personalinfo";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 0;
    }

    td, th {
        border: none;
        text-align: center;
        padding: 15px;
    }
</style>


<h2>Education</h2>

<table>
    <tr>
        <th>Name: </th>
        <td>Tanvir Hossain </td>
    </tr>

    <tr>
        <th> Father's Name:  </th>
        <td>Kawsar Hossain </td>
       
    </tr>

    <tr>
        <th> Mother's Name:  </th>
        <td>Shaima Hossain</td>
        
    </tr>

</table>

<br />


<a href="/Home/Index">Index</a> &nbsp;
<a href="/Home/Projects">Projects</a> &nbsp;
<a href="/Home/Education">Education</a>&nbsp;
<a href="/Home/Refference">Refference</a>
