@{
    ViewBag.Title = "Projects";
}



<h2>A Description List</h2>

<dl>
    <dt>Web Tech</dt>
    <dd>
        - The Library Management System is a comprehensive software solution designed
        to facilitate efficient management and organization of library operations. It
        provides a user-friendly interface and a range of features tailored to meet the
        needs of customers, librarians, managers, and administrators. The system offers
        various functionalities and benefits for each user role.
    </dd>
    <br />
    <br />
    <dt>Python</dt>
    <dd>
        - The Lab Management System is a console-based application designed to maintain
        records and manage PCs in a lab. It allows users to store and retrieve information
        about each PC, including PC number, installed operating system, and status. The
        application provides functionalities such as adding, updating, and removing PCs,
        as well as displaying information about all the PCs.
    </dd>
    <br />
    <br />
    <dt>OOP2(C#)</dt>
    <dd>
        - The Book Shop Management System is a desktop-based application implemented in C#.
        It is a university task that involves various features and requirements to manage a book shop.
    </dd>
    <br />
    <br />
    <dt>OOP1(JAVA)</dt>
    <dd>
        - The Hostel Management System is a desktop-based application implemented in Java.
        It is a university task that involves various features and requirements to manage a Hostel.
    </dd>
</dl>


<a href="/Home/Index">Index</a> &nbsp;
<a href="/Home/Education">Education</a> &nbsp;
<a href="/Home/Refference">Refference</a> &nbsp;
<a href="/Home/Personalinfo">Personal Info</a>
