@{
    ViewBag.Title = "Reffernece";
}
<h2>Refference</h2>

<ol type="1">
    <li>Hossain Md Rana</li>
    <li>Md. Kishor Morol</li>

</ol>

<a href="/Home/Index">Index</a> &nbsp;
<a href="/Home/Education">Education</a> &nbsp;
<a href="/Home/Projects">Projects</a> &nbsp;
<a href="/Home/Personalinfo">Personal Info</a> 